<div class="selectors">
    <div>Select Currency</div>
    <div>
        <select #currency id="currency" (change)="onSelectedCurrency(currency.value)" (change)="avoid429()">
            <option value="USD">Dolar</option>
            <option value="EUR">Euro</option>>
        </select>
    </div>
    <div>Select Date</div>
    <div id="calendar-container" class="calendar-container"> 
            <span>Calendar</span>
            <div id="calendar" class="calendar" >
                <select id="year" #year (change)="onSelectedYear(year.value)"></select>
                <select id="month" name="month"></select>
                <select id="day" name="day"></select>
                <button (click)="this.callIP(0)" >OK</button>
                <button (click)="this.callIP(1)" >Today</button>
                
            </div>

    </div>

</div>


 <div class="row">
    <div class="column">
      <table>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Openning Price</th>
          <th>Closing Price</th>
          <th>Change</th>
        </tr>
        <tr class={{this.openCloseResponse.BTC.error}}>
          <td>{{this.openCloseResponse.BTC.name}}</td>
          <td>{{this.openCloseResponse.BTC.symbol}}</td>
          <td>{{this.openCloseResponse.BTC.open}}</td>
          <td>{{this.openCloseResponse.BTC.close}}</td>
          <td class={{this.openCloseResponse.BTC.color}}>{{this.openCloseResponse.BTC.diff}}</td>
        </tr>
        <tr class={{this.openCloseResponse.BTC.error}}>
            <td>{{this.openCloseResponse.ETH.name}}</td>
            <td>{{this.openCloseResponse.ETH.symbol}}</td>
            <td>{{this.openCloseResponse.ETH.open}}</td>
            <td>{{this.openCloseResponse.ETH.close}}</td>
            <td class={{this.openCloseResponse.ETH.color}}>{{this.openCloseResponse.ETH.diff}}</td>
        </tr>
        <tr class={{this.openCloseResponse.BTC.error}}>
            <td>{{this.openCloseResponse.LTC.name}}</td>
            <td>{{this.openCloseResponse.LTC.symbol}}</td>
            <td>{{this.openCloseResponse.LTC.open}}</td>
            <td>{{this.openCloseResponse.LTC.close}}</td>
            <td class={{this.openCloseResponse.LTC.color}}>{{this.openCloseResponse.LTC.diff}}</td>
        </tr>
        <tr class={{this.openCloseResponse.BTC.error}}>
            <td>{{this.openCloseResponse.DOT.name}}</td>
            <td>{{this.openCloseResponse.DOT.symbol}}</td>
            <td>{{this.openCloseResponse.DOT.open}}</td>
            <td>{{this.openCloseResponse.DOT.close}}</td>
            <td class={{this.openCloseResponse.DOT.color}}>{{this.openCloseResponse.DOT.diff}}</td>
        </tr>
        <tr class={{this.openCloseResponse.BTC.error}}>
            <td>{{this.openCloseResponse.DOGE.name}}</td>
            <td>{{this.openCloseResponse.DOGE.symbol}}</td>
            <td>{{this.openCloseResponse.DOGE.open}}</td>
            <td>{{this.openCloseResponse.DOGE.close}}</td>
            <td class={{this.openCloseResponse.DOGE.color}}>{{this.openCloseResponse.DOGE.diff}}</td>
         </tr>

    </table>
    <div id="information">
        <span class="information_title">no access: </span>
        <span class="information">API problems for so many attempts in one time. (suggestion wait 30 seg and try again</span>
    </div>
    </div>
  </div>