* {
    box-sizing: border-box;
  }
  
    .row {
        margin-left:-5px;
        margin-right:-5px;
    }
        
    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    
    th, td {
        text-align: left;
        padding: 16px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .green {
        background-color: rgb(4, 160, 51);
        animation-delay: 3;
        animation-name: spinHorizontal;
        animation-duration: 2s;
        border-style: groove;
    }
    .red {
        background-color: rgb(243, 16, 16);
        animation-delay: 3;
        animation-name: spinHorizontal;
        animation-duration: 2s;
        border-style: groove;
    }
    .selectors {
      display: grid;
      grid-template-columns: 10vw 8vw 8vw 5vw 3vw;
      grid-gap: 1px;
      margin: 2vw 0 0 2vw;
      align-items:center;
      align-content:center;   
    }
 .calendar-container {
    position: relative;
}
.calendar-container span {
    background-color: #989b9c;
    color: #ffffff;
    box-shadow: 1px 1px 2px 2px #918d8d;
    border-radius: 3px;
    padding: 0 5px;
}
.calendar {
    float: left;
    position: absolute;
    left: 0px;
    top: -10px;
    z-index: 1000;
    background-color: #ffffff;
    padding: 5px;
    font-weight: normal;
    width: 300px;
    border: #5f5c5c;
    box-shadow: 1px 1px 2px 2px #918d8d;
 }


.calendar button{
    font-weight:10px;
    margin-left:2px;
    float:right;
    color:rgb(62, 65, 65);
    background-color: #b0bbbd;
    border: #ffffff;
    border-radius: 5px;
  }
  .calendar button:hover{
    background-color: #b4babb;
    color: #0e0d0d;
  }

  .access_error td{  
    background-color: rgba(215, 190, 190, 0.674) !important;
    border-style: groove;
  }
  .information_title {
    float:left;
    font-weight: bold;
    font-size: 0.7vw;
}
  .information {
      background-color: #f8fbfc;
      float:left;
      font-size: 0.7vw;
  }