<div class="selectors">
    <div>Select Currency</div>
    <div>
        <select #currency id="currency" (change)="onSelectedCurrency(currency.value)" (change)="avoid429()">
            <option value="USD">Dolar</option>
            <option value="EUR">Euro</option>>
        </select>
    </div>
    <div>Select Date (2021-07-12)</div>
    <div>
        <select id="year" name="year"></select>
    </div>
    <div>
        <select id="month" name="month"></select>
    </div>
    <div>
        <select id="day" name="day"></select>
    </div>

</div>


 <div class="row">
    <div class="column">
      <table>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Openning Price</th>
          <th>Closing Price</th>
          <th>Change</th>
        </tr>
        <tr>
          <td>{{this.openCloseResponse.BTC.name}}</td>
          <td>{{this.openCloseResponse.BTC.symbol}}</td>
          <td>{{this.openCloseResponse.BTC.open}}</td>
          <td>{{this.openCloseResponse.BTC.close}}</td>
          <td class={{this.openCloseResponse.BTC.color}}>{{this.openCloseResponse.BTC.diff}}</td>
        </tr>
        <tr>
            <td>{{this.openCloseResponse.ETH.name}}</td>
            <td>{{this.openCloseResponse.ETH.symbol}}</td>
            <td>{{this.openCloseResponse.ETH.open}}</td>
            <td>{{this.openCloseResponse.ETH.close}}</td>
            <td class={{this.openCloseResponse.ETH.color}}>{{this.openCloseResponse.ETH.diff}}</td>
        </tr>
        <tr>
            <td>{{this.openCloseResponse.LTC.name}}</td>
            <td>{{this.openCloseResponse.LTC.symbol}}</td>
            <td>{{this.openCloseResponse.LTC.open}}</td>
            <td>{{this.openCloseResponse.LTC.close}}</td>
            <td class={{this.openCloseResponse.LTC.color}}>{{this.openCloseResponse.LTC.diff}}</td>
        </tr>
        <tr>
            <td>{{this.openCloseResponse.DOT.name}}</td>
            <td>{{this.openCloseResponse.DOT.symbol}}</td>
            <td>{{this.openCloseResponse.DOT.open}}</td>
            <td>{{this.openCloseResponse.DOT.close}}</td>
            <td class={{this.openCloseResponse.DOT.color}}>{{this.openCloseResponse.DOT.diff}}</td>
        </tr>
        <tr>
            <td>{{this.openCloseResponse.DOGE.name}}</td>
            <td>{{this.openCloseResponse.DOGE.symbol}}</td>
            <td>{{this.openCloseResponse.DOGE.open}}</td>
            <td>{{this.openCloseResponse.DOGE.close}}</td>
            <td class={{this.openCloseResponse.DOGE.color}}>{{this.openCloseResponse.DOGE.diff}}</td>
         </tr>
      </table>
    </div>
  </div>